@model BookSwap.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Información del libro</h1>

<div class="row">
    <div class="col-5">

        <div>
            <h4>Libro</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Autor)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Autor)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Genero)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Genero.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Idioma)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Idioma)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaPublicacion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FechaPublicacion)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i>Regresar</a>
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary store-btn float-right mr-5">Agregar al carrito<i class="fa-solid fa-cart-plus"></i></a>
        </div>
    </div>
    <div class="col-4">
        <img src="@Model.ImageUrl" class="w-100" />
    </div>
</div>
