@model IEnumerable<BookSwap.Models.Libro> 
@{
    ViewData["Title"] = "Tienda";
}


<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-3">
            <div class="card my-2 store-card custom-bg-color">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                    <img src="@book.ImageUrl" class="card-img-top card-img-custom">
                    <div class="card-body" style="height: 6em;">
                        <h5 class="mb-3">@book.Titulo</h5>
                    </div>
                    <div class="card-body">
                        <span class="card-text">@book.Precio.ToString("c")</span>
                        <a asp-controller="Carritos" asp-action="AgregarAlCarrito" asp-route-id="@book.Id" class="btn btn-primary float-right store-btn"><i class="fa-solid fa-cart-plus mr-2"></i>Agregar al carrito</a>
                    </div>
                </a>
            </div>
        </div>

    }
</div>
